$main-color: #151515;
$theme-color: #c80831;
$text-color: #7c7c7c;
$background-color: #f2f2f2;


$white-color: #fff;
$black-color: #000;

$i: 10;
@while $i < 101 {
    .mb-#{$i} { margin-bottom: $i + px; }
    $i: $i + 10;
}

$i: 10;
@while $i < 101 {
    .mt-#{$i} { margin-top: $i + px; }
    $i: $i + 10;
}

@mixin wrap-center($height) {
    display:flex;
    align-items:center;
    height: $height;
}

@mixin roboto($font-weight) {
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight;
}